html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  color: white;
}

header {
  width: 100%;
  height: 2.32rem;
  background-color: black;
}

.name {
  display: flex;
  align-items: center;
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

.name img {
  margin: 0.41rem 1rem 0.5rem 0.41rem;
  height: 1.5rem;
}

.banner {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-container {
  width: 960px;
  padding-top: 9rem;
  margin: 0 auto;
}

.promo {
  font-weight: bold;
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  opacity: 0.8;
}

h4 {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

h1 {
  font-size: 2rem;
  line-height: 2.25rem;
}

nav {
  background-color: firebrick;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0.75rem 0;
}

li {
  display: inline;
}

.item-container {
  display: flex;
  width: 960px;
  margin: 3rem auto 4rem auto;
  justify-content: space-between;

}

.item {
  width: 30%;
}

.image-container {
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  width: 8rem;
  height: auto;
}

.item span {
  display: block;
  background-color: black;
  text-align: center;
  padding: 0.5rem 0;
}

.about-container span {
  display: block;
}
