html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  color: white;
}

header {
  width: 100%;
  height: 2.32rem;
  background-color: black;
}

.name {
  display: flex;
  align-items: center;
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

.name img {
  margin: 0.41rem 1rem 0.5rem 0.41rem;
  height: 1.5rem;
}

li {
  display: inline;
}

.item span {
  display: block;
}

.about-container span {
  display: block;
}
