html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  color: white;
}

header {
  width: 100%;
  height: 2.32rem;
  background-color: black;
}

.name {
  display: flex;
  align-items: center;
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

.name img {
  margin: 0.41rem 1rem 0.5rem 0.41rem;
  height: 1.5rem;
}

.banner {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-container {
  width: 960px;
  padding-top: 9rem;
  margin: 0 auto;
}

.promo {
  font-weight: bold;
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  opacity: 0.8;
}

h4 {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

h1 {
  font-size: 2rem;
  line-height: 2.25rem;
}

nav {
  background-color: firebrick;
  padding: 0.75rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}

li {
  display: inline;
}

.mobile-nav {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.item-container {
  display: flex;
  width: 100%;
  max-width: 960px;
  margin: 3rem auto 4rem auto;
  justify-content: space-between;

}

.item {
  width: 30%;
}

.image-container {
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  width: 8rem;
  height: auto;
}

.item span {
  display: block;
  background-color: black;
  text-align: center;
  padding: 0.5rem 0;
}

.about-container {
  display: flex;
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
  margin: 0 auto 4rem auto;
}

.about {
  width: 35%;
  display: inline-block;
}

.about-title {
  background-color: black;
  display: block;
  padding: 1rem 2rem;
}

.info {
  color: black;
  display: block;
}

footer {
  width: 100%;
  height: 5rem;
  background-color: black;
}

footer span {
  display: block;
  width: 960px;
  text-align: left;
  margin: 0 auto;
  padding: 2rem 0;
}

@media only screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }

  .tablet {
    display: none;
  }

  .item {
    width: 47%;
  }
}

@media only screen and (max-width: 470px) {
  .promo {
    width: 100%;
    padding: 1rem 2rem;
  }

  .banner-container {
    padding-top: 10rem;
  }

  .banner {
    height: 15rem;
  }

  h4 {
    font-size: 0.77rem;
  }

  h1 {
    font-size: 1rem;
    line-height: 2.0;
  }

  .phone {
    display: none;
  }

  .item {
    width: 90%;
    margin: 0 auto;
  }

  .about-container {
    flex-direction: column;
  }

  .about {
    width: 90%;
    margin: 0.5rem auto;
  }

  .item-container {
    margin: 2rem auto 3rem auto;
  }

  footer span {
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 192px) {
  .item img {
    width: 75%;
    height: auto;
  }
}
